<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase   /

  # prevent access to certain locations
  RewriteRule ^(\/)?\.dockerignore$           /index.php [L]
  RewriteRule ^(\/)?\.env(\.default)?$        /index.php [L]
  RewriteRule ^(\/)?\.git(\/.*)?$             /index.php [L]
  RewriteRule ^(\/)?\.gitattributes$          /index.php [L]
  RewriteRule ^(\/)?\.gitignore$              /index.php [L]
  RewriteRule ^(\/)?\.htaccess$               /index.php [L]
  RewriteRule ^(\/)?CHANGELOG(\.md)?$         /index.php [L]
  RewriteRule ^(\/)?ENCRYPTION(\.md)?$        /index.php [L]
  RewriteRule ^(\/)?LICENSE(\.md)?$           /index.php [L]
  RewriteRule ^(\/)?README(\.md)?$            /index.php [L]
  RewriteRule ^(\/)?SECURITY(\.md)?$          /index.php [L]
  RewriteRule ^(\/)?Dockerfile$               /index.php [L]
  RewriteRule ^(\/)?router\.php$              /index.php [L]
  RewriteRule ^(\/)?defaults(\/.*)?$          /index.php [L]
  RewriteRule ^(\/)?(html\/)?actions(\/.*)?$  /index.php [L]
  RewriteRule ^(\/)?(html\/)?config(\/.*)?$   /index.php [L]
  RewriteRule ^(\/)?(html\/)?db(\/.*)?$       /index.php [L]
  RewriteRule ^(\/)?(html\/)?lib(\/.*)?$      /index.php [L]
  RewriteRule ^(\/)?(html\/)?pages(\/.*)?$    /index.php [L]
  RewriteRule ^(\/)?(html\/)?template(\/.*)?$ /index.php [L]

  # redirect direct accesses
  RewriteCond %{REQUEST_URI} ^(\/)?resources(\/.*)?$ [OR]
  RewriteCond %{REQUEST_URI} ^(\/)?vendors(\/.*)?$
  RewriteCond %{DOCUMENT_ROOT}/html/%{REQUEST_URI} -f
  RewriteRule . /html/$0 [R=302,L]

  # single entrypoint
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . /index.php [L]
</IfModule>
